@import url(common.css);

article {
  margin-bottom: 74px;
}
article p {
  text-align: center;
  font-size: 18px;
  padding-bottom: 10px;
}

/* ホームに戻るボタン */
main p.link {
  margin-bottom: 79px;
}

main p.link a {
  background-color: #6b5311;
  color: #fffdf8;
  padding: 11px 55px;
  display: block;
  width: fit-content;
  margin: 0 auto;
  background-image: url(../img/Vector.svg);
  background-repeat: no-repeat;
  background-position: right 24px center;
}
main p.link a:hover {
  opacity: 0.7;
}

/* 個人情報 */
main dl {
  max-width: 730px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 111px;
  color: #fff;
  font-size: 16px;
  background-color: #6b5311;
  padding: 13px 30px;
}
/* 題名下余白 */
main dt {
  padding-bottom: 6px;
}
/* 説明 */
main dd {
  text-align: left;
}
